@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}
header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.none{
    display: none;
}

@media screen and (min-width: 800px) {
    .navigate{
        display: block;
        color: rgba(21, 12, 33, 0.59);
    }
   
    .mobile{
        display: none;
    }
    header{
        padding: 1em 4em;
    }
  }